/* React player responsive css */
.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    max-width: 90%;
    max-height: 90%;
}

.react-player {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}

.backdrop-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 99vw;
    z-index: -10;
    opacity: 15%;
    object-fit: cover
}