:root {
    --padding-side-body: 80px;
}

html {
    scroll-behavior: smooth;
    background-color: rgba(26, 34, 34, 0.963);
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: Karla, serif;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px
}

*::-webkit-scrollbar-track {
background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
background-color: #2c3440;
border-radius: 10px;
}

body {
    background: linear-gradient(0deg, #0c0f0f 0%, #1a222214 100%);
    background-size: cover;
    color: #9ab;
    margin: 0;
    min-height: 100%;    
}



/* NAV */
nav {
    background-color: #2c34407d;
    display: flex;
    justify-content: space-between;
    padding: 30px var(--padding-side-body);
}

nav button, nav article {
    background: #2c344000;
    border: none;
    color: #9ab;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 5px;
}


/* SECTIONS */
section {
    padding: 0 var(--padding-side-body);
    margin: 70px 0;
}

section h1 {
    font-size: 40px;
}

section h2 {
    font-size: 30px;
}

section form {
    position: relative;
    text-align: center;
    margin: 70px 0;
}

section form input {
    width: 70%;
    height: 40px;
    border-radius: 30px;
    border:none;
    padding: 5px 15px;
    font-size: 20px;
}

section button {
    padding: 5px;
    margin: 0 5px;
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
}

section form div {
    position: absolute;
    top: 28px;
    left: -50px;
    right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

section form div ul {
    display: flex;
    justify-self: center;
    padding: 5px 15px;
    padding-bottom: 0;
}

section form div ul li{
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    list-style-type: none;
    margin: 0;
    background: rgb(42, 48, 51);
    text-align: left;
    padding: 5px;
    border-radius: 10px;
}

section form div ul li img {
    width: 75px;
    height: 115px;
    grid-row: span 3;
}

section form div ul li h4 {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-size: 20px;
}

section form div ul li span {
    font-size: 12px;
    padding: 0;
    margin: 0 5px;
    height: 30px;
}

section form div ul li p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    padding: 0;
    margin: 5px 5px;
}

/* POPULAR SLIDER */
.popular-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
    width: 250px;
    border: 2px solid rgba(64, 224, 208, 0.486);
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
}

.popular-slider div {
    width: 33.33%;
    border-radius: 20px;
}

.popular-slider p {
    margin: 5px;
    text-align: center;
}

.popular-slider-selected {
    background-color: Teal;
    box-shadow: 0 0px 10px teal;
    transition: background-color .25s ease-in-out;
}


/* CARDS */
.cards-trending, .cards-theater {
    display: flex;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 20px;
    /* white-space: nowrap; */
}

.card {
    border: 1px solid white;
    border-radius: 10px;
    min-width: 150px;
    height: 225px;
    margin: 20px;
    position: relative;  
    animation: cardTransition 1s ease-in-out;    
}

@keyframes cardTransition{
    0% {
        opacity: 0
    } 
    100% {
        opacity: 1;
    }
}

h3.card-name, .card-info p:nth-child(2) {
    display: none;
}

.card img {
    height: 223px;
    width: 148px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}

.card:hover{
    border: none;
    outline: none;
    box-shadow: 0 0px 20px rgba(247, 247, 247, 0.541);
    transition: box-shadow .5s;
}

.card:hover img, .card:hover .card-rating {
    filter: brightness(20%);
    transition: filter .25s ;
}

.card:hover .card-info {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.card-info {
    display: flex;
    display: -webkit-box;
    flex-direction: column;
    padding: 0 7px;
    margin: 20px 0;
    position: absolute;
    width: 150px;
    max-height: 230px;
    transform: translateY(-230px); 
    overflow: hidden;
    color: white;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 15px;
    opacity: 0;
}

.card-rating {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    padding: 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    border-radius: 5px;
}

.card-name {
    text-align: center;
    margin: 0 15px;
    font-size: 14px;
}

.icon {
    padding: 0 3px;
}


/* FOOTER */
footer {
    background: #2c3440;
    margin: 0;
    padding: 30px var(--padding-side-body);
    padding-top: 30px;
    padding-bottom: 30px;
}

footer h3 {
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: #9ab;
}







/* SEARCH PAGE */
section.popular {
    min-height: 50vh;
}

.cards-search {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 20px;
}

.card-search {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.card-search img {
    height: 223px;
    width: 148px;
    border-radius: 10px;
    display: flex;
}

.card-search:hover{
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 0px 20px rgba(247, 247, 247, 0.541);
    transition: box-shadow .5s;
}

.card-search-info p:nth-child(2) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    padding: 0 15px;
    margin: 0;
    color: rgb(238, 234, 204);
}

.card-search-info p:nth-child(3) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    padding: 0 15px;
}

.card-search-rating {
    display: none;
}

.card-search-name {
    margin: 10px 15px 5px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.card-search-name h3 {
    display: none;
}
