

:root {
    --card-grid-gap: 20px;
    --card-width: 160px;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/* Removes input number arrows/spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Styling scrollbar */
.scrollbar-default {
    scrollbar-color: rgb(55 65 81) #13131300; /* The first color is for the thumb and the second is for the track */
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    z-index: -10000;
}

*::-webkit-scrollbar-track {
    z-index: -10000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    z-index: -10000;
}


/* Removes input number arrows [Firefox support] */
input[type=number] {
    -moz-appearance: textfield;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    gap: var(--card-grid-gap);
    justify-content: center;
    min-width: (2 * var(--card-width)) + var(--card-grid-gap) ; /* 2 columns x 160px + 20px gap */
}


/* Notification bounce animation */
.scale-in-center {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 640px) {
    .nav-right > a {
        display: none;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;