@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removes input number arrows/spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes input number arrows [Firefox support] */
input[type=number] {
  -moz-appearance: textfield;
}